<div class="faq">
  <div class="header">
    <div class="container h-100 d-flex align-items-center">
      <div class="title">
        PERGUNTAS FREQUENTES
      </div>
    </div>
  </div>

  <div class="container questions pb-5">
    <div class="row">
      <div class="col-md-6">
        <div class="question-item">
          <div class="question">
            O EVENTO CONTARÁ COM TRADUÇÃO SIMULTÂNEA?
          </div>

          <div class="answer">
            Sim. Durante as palestras internacionais e interações no palco, todo conteúdo será traduzido simultaneamente.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            QUAL O PÚBLICO-ALVO DO EVENTO?
          </div>

          <div class="answer">
            Não existe um nicho de pessoas específico a que se direcione o congresso. Ele é de grande valia para profissionais e estudantes das áreas de saúde em geral, entusiastas da alimentação low carb, esportistas, até mesmo a dona de casa que busca entender mais sobre qualidade de vida e aplicar, quem sabe, no dia a dia com seus familiares. Resumindo, nosso público-alvo são todos que buscam saúde e bem-estar.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            HAVERÁ TRANSMISSÃO ONLINE DO EVENTO?
          </div>

          <div class="answer">
            Ainda não sabemos se teremos disponibilidade para o evento ser transmitido online.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            POSSO FILMAR O EVENTO?
          </div>

          <div class="answer">
            Não. É terminantemente proibida a filmagem integral do evento, porém, é aceitável a gravação de pequenos trechos para compartilhamento em redes sociais. Para otimizar a visualização podem ser usadas ainda as hashtags #eventoalimente, #eventoalimente2019 ou #projetoalimente.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            QUAL A IDADE MÍNIMA PARA O EVENTO?
          </div>

          <div class="answer">
            Não existe idade mínima estipulada, mas pelo conteúdo que será apresentado, aconselhamos que menores de 18 anos não compareçam ao evento, já que a temática pode ser de difícil compreensão.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            PODEREI TIRAR FOTOS COM OS PALESTRANTES?
          </div>

          <div class="answer">
            Para garantir o bom andamento do evento e comodidade dos palestrantes, não serão permitidas abordagens ou fotos com os mesmos, a não ser nos períodos pré-determinados de <em>meet&greet</em>, que serão divulgados somente no dia e com retirada de senha.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            QUANTOS INGRESSOS POSSO COMPRAR?
          </div>

          <div class="answer">
            Nas categorias de venda de ingressos sem preço promocional o limite para compra é de 3 ingressos por CPF – pessoa.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            COMPREI INGRESSO DE UMA CATEGORIA E QUERIA TROCAR PARA OUTRA, COMO EU FAÇO?
          </div>

          <div class="answer">
            Para mudar a categoria de seu ingresso basta entrar em contato via email contato@eventoalimente.com.br informando seu nome completo, telefone, e-mail e o número do e-ticket (clicando aqui). A partir daí serão iniciados os trâmites para o pagamento da diferença e conclusão do processo. A TROCA DE CATEGORIA É ELEGÍVEL SOMENTE PARA UPGRADE DO INGRESSO E NÃO DOWNGRADE!
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="question-item">
          <div class="question">
            QUAIS AS FORMAS DE PAGAMENTO DOS INGRESSOS?
          </div>

          <div class="answer">
            Os ingressos podem ser pagos via cartão de crédito, débito online ou boleto, à vista ou parcelado em até 10x com juros, com preço nominal + taxas administrativas da Sympla.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            EXISTE ALGUMA FORMA DE COMPRAR O INGRESSO SEM TAXA ADMINISTRATIVA?
          </div>

          <div class="answer">
            Infelizmente não. Usamos a plataforma Sympla para a sua e nossa segurança durante as transações e por isso é cobrada a taxa.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            TEM DESCONTO PARA ESTUDANTES E IDOSOS?
          </div>

          <div class="answer">
            Estudantes e idosos contam com a comodidade de preços especiais “confira aqui”. Quantidade de ingressos limitados. 
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            ONDE EU CONSIGO UM CÓDIGO PROMOCIONAL?
          </div>

          <div class="answer">
            Apesar da Sympla, plataforma de venda online escolhida para nosso evento, disponibilizar como padrão essa opção ao acessar a página de transação, o ALIMENTE não terá códigos para utilização. Nosso desconto foi concedido – única e exclusivamente - durante a pré-venda de ingressos.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            PRECISO MOSTRAR A CARTEIRINHA DE ESTUDANTE NA ENTRADA?
          </div>

          <div class="answer">
            Sim, você vai ter que apresentar o documento de sua instituição de ensino com o selo de validação do ano vigente ou carteira de estudante nacional com foto e certificada pela UNE, UBES ou ANPG, com validade para 2019.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            FIZ MINHA INSCRIÇÃO, COMPREI MEU INGRESSO E NÃO PODEREI COMPARECER AO EVENTO, POSSO FAZER ALGO?
          </div>

          <div class="answer">
            Sim. Você pode transferir a titularidade do seu ingresso, ou então, solicitar o reembolso de 50% do valor pago, salvo se o ingresso tiver sido adquirido na pré-venda ou esteja no período de 10 dias antes do evento.
          </div>
        </div>

        <div class="question-item">
          <div class="question">
            PRECISO RETIRAR MEU INGRESSO NA BILHETERIA?
          </div>

          <div class="answer">
            Não, seu ingresso é entregue como e-ticket. Você precisará apenas imprimi-lo e levar no dia do evento.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
