<div class="faq">
  <div class="header">
    <div class="container h-100 d-flex align-items-center">
      <div class="title">
        PERGUNTAS FREQUENTES
      </div>
    </div>
  </div>

  <div class="container questions">
    <div class="row">
      <div class="col-md-6">
        <div class="question">
          1. O EVENTO CONTARÁ COM TRADUÇÃO SIMULTÂNEA?
        </div>

        <div class="answer">
          Sim. Durante as palestras internacionais e interações no palco, todo conteúdo será traduzido simultaneamente.
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="question">
          1. O EVENTO CONTARÁ COM TRADUÇÃO SIMULTÂNEA?
        </div>

        <div class="answer">
          Sim. Durante as palestras internacionais e interações no palco, todo conteúdo será traduzido simultaneamente.
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="question">
          1. O EVENTO CONTARÁ COM TRADUÇÃO SIMULTÂNEA?
        </div>

        <div class="answer">
          Sim. Durante as palestras internacionais e interações no palco, todo conteúdo será traduzido simultaneamente.
        </div>
      </div>

      <div class="col-md-6">
        <div class="question">
          1. O EVENTO CONTARÁ COM TRADUÇÃO SIMULTÂNEA?
        </div>

        <div class="answer">
          Sim. Durante as palestras internacionais e interações no palco, todo conteúdo será traduzido simultaneamente.
        </div>
      </div>
    </div>
  </div>
</div>
