<%= render 'layouts/ticket_banner' %>

<%= render 'static_pages/home/about' %>

<div class="parallax">
  <%= image_tag 'bg-parallax@2x.png', class: 'parallax-image' %>

  <h1 class="title">PALESTRANTES</h1>
</div>
