<div class="select">
  <div class="container h-100">
    <div class="h-100">
      <div class="d-none d-md-flex align-items-center justify-content-between h-100">
        <%= link_to basis_plena_videos_path do %>
          <div class="basis-plena">
            Basis Plena
          </div>
        <% end %>
        
        <%= link_to event_lectures_path do %>
          <div class="online-event">
            Evento Online
          </div>
        <% end %>
      </div>

      <div class="d-block d-md-none">
        <%= link_to basis_plena_videos_path do %>
          <div class="basis-plena-mobile">
            Basis Plena
          </div>
        <% end %>
        
        <%= link_to event_lectures_path do %>
          <div class="online-event-mobile">
            Evento Online
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
