section.about {
  padding: 4em 0;

  > .container > .title {
    font-weight: 400;
    color: $color-green;
  }

  .content {
    padding-top: 4.25em;
    padding-bottom: 4em;

    > .text {
      padding-left: 2em;
    }
  }

  .content-list {
    padding-top: 2.25em;

    .content-item {
      position: relative;

      .image {
        width: 100%;
        height: auto;
        position: relative;
      }

      .title {
        padding: .5rem;
        position: absolute;
        bottom: -1em;

        background-color: $color-yellow;
        color: $color-white;

        font-family: 'Dunbar Tall';
        font-weight: 500;
      }

      .description {
        padding-top: 2.5em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section.about {
    padding: 2em 0;

    .content {
      padding-top: 2.25em;
      padding-bottom: 0;

      flex-wrap: wrap;

      img {
        width: 100%;
        margin-bottom: 1.5em;
      }

      > .text {
        padding: 0;
        padding-bottom: 1.5em;
      }
    }

    .content-list {
      .content-item {
        padding-bottom: 2.25em;
        .image {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}