section.basis-plena {
  padding: 4em 0;
  position: relative;

  color: $color-brown;
  background-color: $color-white;

  .content {
    .title {
      font-family: 'Dunbar Tall';
      font-size: 28px;
    }
  
    .description {
      padding-top: 2.5em;
      max-width: 650px;

      a {
        color: $color-brown;
      }
    }
    
    .btn {
      color: $color-white;
    }

    .logos {
      padding-top: 4em;
      display: block;
    }
  }

  .bg-about-project {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  section.basis-plena {
    padding: 3em 0;

    .container {
      flex-direction: column-reverse;
      flex-wrap: wrap-reverse;
    }

    .content {
      padding-left: initial;

      .title {
        font-size: 20px;
        line-height: 26px;
      }

      .logos {
        padding-top: 2em;
        width: 100%;
      }
    }
  }
}