section.speakers {
  padding-bottom: 2.5em;

  .international, .national {
    .title {
      padding: 1rem 1.25rem;
      display: inline-block;
      font-family: 'Dunbar Tall';
      font-weight: 500;
      font-size: 42px;
      line-height: 42px;
      color: $color-orange;
      border: 3px solid $color-orange;
    }
  }

  .international {
    padding: 4em 0 0;
    position: relative;
    background-color: $color-orange;

    .title {
      color: $color-white;
      border-color: $color-white;
    }

    .container {
      padding-top: 5em;
      width: 60%;
    }

    .international-speaker {
      padding-top: 5em;

      .info {
        padding-left: 4em;
        color: $color-white;

        .name {
          font-family: 'Dunbar Tall';
          font-weight: 500;
          font-size: 32px;
        }

        .about {
          padding-top: 1.5em;
          width: 90%;
        }

        .social {
          padding-top: 2em;

          .media {
            .link {
              margin-left: .5em;
              color: $color-white;
            }
          }
        }
      }
    }
  }

  .national {
    padding-top: 4em;
  }

  .national-speakers {
    padding-top: 5em;

    &:hover {
      a {
        text-decoration: none;
      }
    }
  }

  .speaker {
    max-width: 230px;
    max-height: 230px;
    position: relative;
    display: flex;
    justify-content: center;

    background-color: $color-cyan;
    border-radius: 100%;

    .name {
      padding: .5rem .6rem;
      margin: 0 auto;
      position: absolute;
      bottom: -1px;

      font-family: 'Dunbar Tall';
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-white;

      background-color: $color-yellow;
    }

    &:hover {
      background-color: $color-orange;

      .name {
        background-color: $color-orange;
      }
    }

    &.-international {
      max-width: 236px;
      max-height: 236px;
      background-color: $color-yellow;

      .name {
        font-size: 26px;

        background-color: #FDC603;
      }

      &:hover {
        background-color: $color-cyan;
        
        .name {
          background-color: $color-cyan;
        }
      }
    }
  }

  .short-function {
    margin-bottom: 4em;
    padding-top: .75em;

    text-align: center;
    font-weight: 500;
    color: $color-yellow;

    &.-white {
      color: $color-white;
    }
  }
}

@media screen and (max-width: 768px) {
  section.speakers {
    .international {
      padding: 2em 0 1em;

      .title {
        color: $color-white;
        border: 3px solid $color-white;
      }

      .container {
        width: 100%;
      }

      .international-speaker {
        padding: 2em 1em;
        flex-direction: column;

        .photo {
          width: 230px;
          margin: 0 auto;
        }

        .info {
          padding: 0;
          padding-top: 2em;

          .name {
            text-align: center;
          }
        }
      }

      .social {
        flex-wrap: wrap;

        .media {
          &:last-child {
            padding-left: 0 !important;
            padding-top: 1em;
          }
        }
      }
    }

    .national {
      padding: 2em 0;

      .title {
        color: $color-orange;
        border: 3px solid $color-orange;
      }
    }

    .national-speakers {
      padding-top: 1em;
    }

    .speaker {
      img {
        width: 100%;
      }
    }

    .short-function {
      margin-bottom: 2.5em;
    }

    .international, .national {
      .title {
        padding: .5rem .5rem;
        display: inline-block;
        font-family: 'Dunbar Tall';
        font-size: 20px;
        line-height: 20px;
      }
    }

    .buttons {
      padding-bottom: 3em;

      button {
        border-radius: 50%;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  section.speakers {
    padding-bottom: 2em;

    .international {
      padding-bottom: 0;

      .title {
        font-size: 18px;
      }

      .container {
        padding-top: 2em;
      }
    }

    .speaker {
      width: 130px;
      height: 130px;

      .name {
        padding: .2rem .4em;
        font-size: 11px;
      }

      &.-international {
        width: 180px;
        height: 180px;

        .name {
          font-size: 20px;
        }
      }
    }

    .short-function {
      font-size: 13px;

      &.-international {
        margin-bottom: 2em;
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  section.speakers {
    .international {
      .container {
        padding-top: 4em;
      }
    }

    .speaker {
      width: 160px;
      height: 160px;

      .name {
        padding: .3rem .6rem;
        font-size: 13px;
      }

      &.-international {
        width: 180px;
        height: 180px;

        .name {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  section.speakers {
    padding-bottom: 2em;

    .speaker {
      width: 180px;
      height: 180px;

      .name {
        padding: .4rem .6rem;
        font-size: 15px;
      }

      &.-international {
        width: 230px;
        height: 230px;

        .name {
          font-size: 26px;
        }
      }
    }
  }
}