section.speakers {
  padding-bottom: 2.5em;

  .international, .national {
    .title {
      padding: 1rem 1.25rem;
      display: inline-block;
      font-family: 'Dunbar Tall';
      font-weight: 500;
      font-size: 42px;
      line-height: 42px;
      color: $color-orange;
      border: 3px solid $color-orange;
    }
  }

  .international {
    padding: 4em 0 4em;
    position: relative;
    background-color: $color-orange;

    .title {
      color: $color-white;
      border-color: $color-white;
    }

    .international-speaker {
      padding-top: 5em;

      .info {
        padding-left: 4em;
        color: $color-white;

        .name {
          font-family: 'Dunbar Tall';
          font-weight: 500;
          font-size: 32px;
        }

        .about {
          padding-top: 1.5em;
          width: 90%;
        }

        .social {
          padding-top: 2em;

          .media {
            .link {
              margin-left: .5em;
              color: $color-white;
            }
          }
        }
      }
    }
  }

  .national {
    padding-top: 4em;
  }

  .national-speakers {
    padding-top: 3em;
  }

  .speaker {
    width: 230px;
    height: 230px;
    margin-bottom: 2.5em;
    position: relative;
    display: flex;
    justify-content: center;

    background-color: $color-cyan;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
      background-color: $color-orange;

      .name {
        background-color: $color-orange;
      }
    }

    .name {
      padding: .5rem;
      position: absolute;
      bottom: 0;

      background-color: $color-yellow;
      
      font-size: 20px;
      font-family: 'Dunbar Tall';
      color: $color-white;
    }
  }
}

@media screen and (max-width: 768px) {
  section.speakers {
    .international {
      padding: 2em 0 1em;

      .title {
        color: $color-white;
        border: 3px solid $color-white;
      }

      .international-speaker {
        padding: 2em 1em;
        flex-direction: column;

        .photo {
          width: 230px;
          margin: 0 auto;
        }

        .info {
          padding: 0;
          padding-top: 2em;

          .name {
            text-align: center;
          }
        }
      }

      .social {
        flex-wrap: wrap;

        .media {
          &:last-child {
            padding-left: 0 !important;
            padding-top: 1em;
          }
        }
      }
    }

    .national {
      padding: 2em 0;

      .title {
        color: $color-orange;
        border: 3px solid $color-orange;
      }
    }

    .national-speakers {
      padding-top: 1em;
    }

    .international, .national {
      .title {
        padding: .5rem .5rem;
        display: inline-block;
        font-family: 'Dunbar Tall';
        font-size: 20px;
        line-height: 20px;
      }
    }

    .buttons {
      padding-bottom: 3em;

      button {
        border-radius: 50%;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 424px) {
  section.speakers {
    .-adjust-mobile {
      font-size: 11px !important;
    }
  }
}

@media screen and (max-width: 375px) {
  section.speakers {
    padding-bottom: 2em;

    .international {
      .title {
        font-size: 18px;
      }
    }

    .speaker {
      width: 130px;
      height: 130px;
      margin-bottom: 2em;

      img {
        width: 130px;
        height: 130px;
      }

      .name {
        padding: .25rem;
        font-size: 16px;
        bottom: -.25em;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  section.speakers {
    padding-bottom: 2em;

    .speaker {
      width: 100%;
      height: auto;
      margin-bottom: 2.5em;

      img {
        width: 100%;
        height: 100%;
      }

      .name {
        padding: .25rem .5rem;
        font-size: 16px;
        bottom: -.25em;
      }
    }
  }
}