section.tickets {
  padding: 5em 0;
  position: relative;
  background-color: $color-yellow;

  .bg-ticket-top {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bg-ticket-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .title-wrapper {
    width: 700px;
    color: $color-white;

    .title {
      padding: .5rem 1.25rem;
      border: 3px solid $color-white;
    }

    .lot {
      margin-top: -.25em;
      padding: 1.25rem;
      background-color: $color-cyan;
      font-family: 'Dunbar Tall';
      font-size: 42px;
    }
  }

  .container {
    padding-top: 5em;
    position: relative;
    z-index: 1;
  }

  .pre-venda-button {
    margin-top: -1px;
    margin-bottom: 2em;
    border-radius: 0;
  }

  .pre-venda {
    padding: 1.5em;

    color: $color-brown;
    border: 2px solid $color-orange;

    .category {
      padding: 1rem;
      font-family: 'Dunbar Tall';
      font-size: 42px;
      line-height: 42px;
      font-weight: 500;
      border: 2px solid $color-brown;
    }

    .timer-wrapper {
      margin-left: auto;
      font-family: 'Dunbar Tall';
      font-weight: 500;

      .timer {
        padding: 1rem;
        background-color: $color-orange;
        color: $color-white;
        text-align: right;
        font-size: 32px;
      }
    }

    .tickets {
      padding-top: 2em;

      .ticket {
        display: inline-block;
        font-family: 'Dunbar Tall';
        font-weight: 500;

        .price {
          font-size: 42px;
          line-height: 52px;
        }

        .ticket-category {
          font-size: 20px;
          line-height: 26px;
        }

        &:last-child {
          margin-left: 2em;
        }
      }
    }

    .benefits, .transfers {
      font-size: 16px;
    }

    .benefits {
      padding: 2em 0 1em;
    }

    .transfers a {
      color: $color-brown;
    }
  }

  .ticket-row {
    .tickets {
      padding-top: 2em;
    }

    .ticket-category {
      height: 363px;
      display: flex;
      align-items: center;
      justify-content: center;

      border: 2px solid $color-brown;

      font-family: 'Dunbar Tall';
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: $color-brown;

      &.-pre-event {
        height: 230px;
      }
    }

    .ticket {
      height: 363px;
      padding: 1rem 0 0 0;
      margin-bottom: 1.5em;

      justify-content: space-between;

      border: 2px solid $color-orange;
      text-align: center;

      .name {
        font-family: 'Dunbar Tall';
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        color: $color-brown;
      }

      .bar {
        width: 60px;
        height: 3px;
        margin: .5rem auto;

        background-color: $color-brown;
      }

      .benefits {
        list-style-type: none;
        padding: 1em 0 0 0;

        .benefit {
          font-size: 16px;
        }
      }

      .price {
        background-color: $color-orange;

        font-family: 'Dunbar Tall';
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: $color-white;

        .value {
          padding: .5em 0;
          text-align: center;
        }

        .btn {
          border-radius: 0;
          border: none;
          background-color: #E37209;
          margin-left: auto;
        }
      }

      &.-pre-event {
        height: 230px;
      }

      &.-sold-off {
        border-color: $color-brown;
        height: 150px;
        
        .price {
          padding: .3rem 0;
          background-color: $color-brown;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section.tickets {
    padding: 2.5em 0;

    .pre-venda {
      .category {
        width: 100%;
        font-size: 36px;
        line-height: 36px;
      }

      .timer-wrapper {
        margin-top: 1.5em;
        margin-left: 0;
        margin-right: auto;

        .title {
          text-align: left;
        }
      }

      .tickets {
        .ticket {
          display: block;
          
          &:last-child {
            padding-top: 1em;
            margin-left: 0;
          }

          .price {
            font-size: 36px;
          }

          .ticket-category {
            font-size: 16px;
          }
        }
      }
    }

    .title-wrapper {
      padding: 0 1em;

      .lot {
        padding: .5rem;
        font-size: 20px;
      }
    }

    .container {
      padding-top: 2em;
    }
    
    .container .row {
      .col-md-4:nth-child(2) {
        margin: 2em 0;
      }
    }

    .ticket-row {
      .ticket-category {
        margin-bottom: 1em;
        height: 85px;

        &.-pre-event {
          height: 85px;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  section.tickets {
    .promotional-banner {
      .tickets-info {
        .tickets {
          .ticket {
            display: block;

            .price {
              font-size: 30px;
              line-height: 36px;
            }

            .ticket-type {
              font-size: 16px;
            }

            &:last-child {
              margin-left: 2em;
            }
          }
        }
      }
    }
  }
}