section.tickets {
  padding: 5em 0;
  position: relative;
  background-color: $color-yellow;

  .bg-ticket-top {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bg-ticket-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .title-wrapper {
    width: 700px;
    color: $color-white;

    .title {
      padding: .5rem 1.25rem;
      border: 3px solid $color-white;
    }

    .lot {
      margin-top: -.25em;
      padding: 1.25rem;
      background-color: $color-cyan;
      font-family: 'Dunbar Tall';
      font-size: 42px;
    }
  }

  .container {
    padding-top: 5em;
    position: relative;
    z-index: 1;
  }

  .promotional-banner {
    width: 100%;
    padding: 2em;
    margin-bottom: 2em;

    color: $color-white;
    font-family: 'Dunbar Tall';

    background: linear-gradient(#48cf9b 0%, #41bb8d 100%);

    .tickets-info {
      > .title {
        padding: .75rem 1rem;
        margin-bottom: 1.5rem;
        display: inline-block;

        font-size: 42px;
        line-height: 42px;
        border: 2px solid $color-white;
      }

      .ticket {
        display: inline-block;

        .price {
          font-size: 42px;
          line-height: 54px;
        }

        &:last-child {
          margin-left: 2em;
        }
      }

      .benefits {
        padding-top: 1em;
        font-family: 'Sofia Pro' !important;
        font-weight: 300;
      }
    }

    .timer-wrapper {
      .title {
        padding-bottom: 1em;
      }

      .timer {
        width: 330px;
        padding: 1rem;
        font-size: 72px;
        line-height: 72px;
        text-align: center;
        background-color: $color-yellow;
      }
    }

    .disclaimer {
      padding-top: 1em;
      font-family: 'Sofia Pro';

      .btn, a {
        color: $color-white;
      }
    }
  }

  .tickets-row {
    .category {
      padding: .5rem 0;
      margin-bottom: 1em;

      border: 2px solid $color-brown;

      font-family: 'Dunbar Tall';
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: $color-brown;

      &.--adjust {
        font-size: 18px;
      }
    }

    .ticket {
      height: 320px;
      padding: .75rem 0 0 0;
      margin-bottom: 1.5em;

      justify-content: space-between;

      border: 2px solid $color-orange;
      text-align: center;

      .name {
        font-family: 'Dunbar Tall';
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .bar {
        width: 60px;
        height: 3px;
        margin: .5rem auto;

        background-color: $color-brown;
      }

      .benefits {
        list-style-type: none;
        padding: 1em 0 0 0;

        .benefit {
          font-size: 16px;
        }
      }

      .price {
        background-color: $color-orange;

        font-family: 'Dunbar Tall';
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: $color-white;

        .value {
          display: inline-flex;
        }

        .btn {
          border-radius: 0;
          border: none;
          background-color: #E37209;
          margin-left: auto;
        }
      }

      &.-dinner {
        height: 175px;
      }
    }

    .disclaimer {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media screen and (max-width: 768px) {
  section.tickets {
    padding: 2.5em 0;

    .title-wrapper {
      padding: 0 1em;

      .lot {
        padding: .5rem;
        font-size: 20px;
      }
    }

    .container {
      padding-top: 2em;
    }
    
    .container .row {
      .col-md-4:nth-child(2) {
        margin: 2em 0;
      }
    }

    .promotional-banner {
      padding: 1em;

      .d-flex {
        flex-wrap: wrap;
      }

      .tickets-info {
        width: 100%;

        .title {
          padding: 0.25rem 0;
          display: block;

          font-size: 24px;
          text-align: center;
        }

        .ticket {
          .price {
            font-size: 26px;
            line-height: 30px;
          }

          .ticket-type {
            font-size: 12px;
          }

          &:last-child {
            margin-left: 1.2em;
          }
        }
      }

      .timer-wrapper {
        padding-top: 1.5em;
        margin-left: 0 !important;

        .timer {
          width: 200px;

          font-size: 42px;
          line-height: 54px;
        }
      }

      .disclaimer {
        .btn {
          font-size: 15px;
        }
      }
    }

    .ticket-type {
      .title {
        padding: 1rem 0;
        font-size: 30px;

        &.-adjust {
          font-size: 25px;
        }
      }

      .sub-title {
        padding: .75rem 0;
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  section.tickets {
    .promotional-banner {
      .tickets-info {
        .tickets {
          .ticket {
            .price {
              font-size: 30px;
              line-height: 36px;
            }

            .ticket-type {
              font-size: 16px;
            }

            &:last-child {
              margin-left: 2em;
            }
          }
        }
      }
    }
  }
}