section.why {
  padding: 3.5em 0;
  position: relative;

  background-image: image-url('bg-why@2x.png');
  background-size: cover;
  color: $color-white;
  
  .title {
    font-family: 'Dunbar Tall';
    font-size: 36px;
    line-height: 46px;
  }

  .text {
    width: 450px;
    padding-top: 2em;
    font-size: 18px;
    line-height: 26px;
  }

  .btn {
    margin-top: 1em;
    color: $color-white;
  }
}

@media screen and (max-width: 768px) {
  section.why {
    padding: 2em 0 0;
    background-color: $color-green;

    .title {
      font-size: 26px;
      line-height: 36px;
    }

    .text {
      width: 100%;
    }

    .bg-bottom {
      width: 100%;
    }

    .link {
      padding-bottom: 2em;
    }
  }
}