<section class="cta">
  <div class="container">
    <div class="text">
      O Basis Plena, é um grupo multidisciplinar que atua através de uma plataforma de cursos onde você poderá desenvolver as áreas de: nutrição, mente, físico e conhecimento para que você tenha mais qualidade de vida.
      <br><br>
      Não importa se o caso é emagrecimento ou a sua preciosa saúde, estamos aqui para te proporcionar equilíbrio de vida e cuidado pleno. 
      <br><br>

      <strong>BASIS PLENA: O SER HUMANO LEVADO A SÉRIO!</strong>
    </div>
  </div>
</section>

<section class="discount">
  <div class="container d-flex flex-wrap wrap-reverse">
    <div class="div">
      <div class="text">
        <strong>E TEMOS MAIS UMA SURPRESA PARA VOCÊ:</strong><br><br>

        Todos os inscritos além das aulas que vocês acabaram de assistir tem também desconto exclusivo (exceto em maratonas) na plataforma de cursos do Basis Plena. Use o código: <strong>ALIMENTE20</strong> e aproveite todo o conteúdo disponível! 
      </div>

      <div class="link">
        <div class="d-md-none d-block">
          <%= link_to 'ADQUIRA NOSSOS CURSOS', 'http://www.basisplena.com.br', class: 'btn btn-warning btn-block', target: '_blank' %>
        </div>

        <div class="d-md-block d-none">
          <%= link_to 'ADQUIRA NOSSOS CURSOS', 'http://www.basisplena.com.br', class: 'btn btn-warning btn-lg', target: '_blank' %>
        </div>
      </div>
    </div>

    <div class="coupon">
      ALIMENTE20
    </div>
  </div>
</section>