h1, h2, h3, h4, h5 {
  font-family: 'Dunbar Tall';
  margin: 0;
}

h1 {
  font-size: 60px;
}

h3 {
  line-height: 36px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
}

h5 {
  font-size: 25px;
}