body {
  font-family: 'Sofia Pro';
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: $color-dark-grey;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}