body {
  font-family: 'Sofia Pro';
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: $color-brown;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
}

break {
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}

main {
  flex: 1;
}