<div class="admin-module">
  <div class="admin-title">
    <div class="container">
      <h2>Solicitações de upgrade</h2>
    </div>
  </div>

  <% if notice %>
    <div class="alert alert-success">
      <div class="container">
        <%= notice %>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end %>

  <div class="container admin-content">
    <% if @upgrade_requests.empty? %>
      <div class="alert alert-info">
        Ainda não há solicitações de upgrade de categoria.
      </div>
    <% else %>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Status</th>
            <th>Nome</th>
            <th>Email</th>
            <th>E-ticket</th>
            <th>De/Para</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render @upgrade_requests %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>