body.devise {
  background-image: image-url('bg-devise@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.devise-box {
  width: 100%;
  display: inline-block;
  padding: 1.5em;
  background-color: rgba($color-white, 0.2);
  color: $color-white;

  .btn {
    color: $color-white;
  }

  form {
    padding-top: 2em;
  }
}