.faq {
  position: relative;

  .header {
    height: 260px;
    background-image: image-url('bg-speaker@2x.png');
    background-size: cover;
  }
  
  .title {
    padding-top: 2em;
    font-family: 'Dunbar Tall';
    font-size: 36px;
    font-weight: 500;
    color: $color-white;
  }

  .questions {
    padding-top: 2em;

    .question-item {
      padding-bottom: 1.5em;
    }
  }

  .question {
    padding: .5em 0;

    font-family: 'Dunbar Tall';
    font-size: 20px;
    color: $color-orange;
    text-transform: uppercase;
  }

  .answer {
    padding-right: 2em;
  }
}

@media screen and (max-width: 768px) {
  .faq {
    .header {
      height: 200px;
      background-image: image-url('bg-speaker-mobile@2x.png');
    }

    .title {
      padding-top: 2em;
      font-size: 26px;
      line-height: 32px;
    }

    .question {
      font-size: 18px;
    }
  }
}