.app-navbar {
  height: 95px;
  background-color: #369C75;

  .nav-link {
    margin-left: 1em;
    font-family: 'Dunbar Tall';
    font-size: 16px;
    color: $color-white !important;

    &:hover { 
      color: $color-yellow !important;
    }
  }

  .btn {
    color: $color-white;
    margin-left: 1em;
  }
}

@media screen and (max-width: 768px) {
  .app-navbar {
    padding: 0;
    height: initial;

    .navbar-brand {
      padding: .75rem 0 .75rem 1rem;

      img {
        height: 40px;
      }
    }

    .navbar-toggler {
      margin-right: 1rem;
    }

    .navbar-collapse {
      padding-bottom: 1em;
      background-color: $color-green;
    }
  }
}