.parallax {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .d-md-block, .d-block {
    width: 100%;
  }
  
  .simpleParallax {
    width: 100% !important;
  }
  
  img {
    width: 100%;
  } 

  .title {
    padding: .5rem 1.25rem;
    position: absolute;

    border: 3px solid $color-white;
    color: $color-white;
  }
}