.refunds {
  position: relative;

  .header {
    height: 260px;
    background-image: image-url('bg-speaker@2x.png');
    background-size: cover;
  }
  
  .title {
    padding-top: 2em;
    font-family: 'Dunbar Tall';
    font-size: 36px;
    font-weight: 500;
    color: $color-white;
  }

  .text {
    padding: 3em 0 8em;
    max-width: 600px;
  }

  .bg-refunds {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .refunds {
    .header {
      height: 250px;
      background-image: image-url('bg-speaker-mobile@2x.png');
    }

    .title {
      padding-top: 2em;
      font-size: 26px;
      line-height: 32px;
    }

    .text {
      padding-bottom: 3em;
    }

    .bg-refunds {
      display: none;
    }
  }
}