.select {
  padding-top: 6em;
  height: 100vh;
  background-color: $color-green;

  a {
    text-decoration: none;
  }

  .online-event, .basis-plena {
    color: $color-white;
    border: 3px solid $color-white;

    padding: 2em;
    font-family: 'Dunbar Tall';
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;

    transition: all .3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
