.sign-in {
  position: relative;

  .header {
    height: 260px;
    padding-top: 7em;
    padding-bottom: 2em;

    background-image: image-url('bg-basis-plena@2x.png');
    background-size: cover;

    .title {
      padding: 1rem;
      font-family: 'Dunbar Tall';
      font-size: 62px;
      line-height: 62px;
      font-weight: 500;
      color: $color-white;
      border: 3px solid $color-white;
    }
  }

  .devise-box {
    padding: 4em 0;
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .sign-in {
    .header {
      height: 200px;
      padding-top: 6em;
      background-image: image-url('bg-basis-plena-mobile@2x.png');

      .title {
        font-size: 36px;
        line-height: 36px;
      }
    }

    .devise-box {
      padding: 3em 0;
      width: 100%;
    }
  }
}