.speaker-page {
  overflow-x: hidden;
  padding-bottom: 6em;

  .header {
    height: 260px;
    background-image: image-url('bg-speaker@2x.png');
    background-size: cover;

    .row {
      height: 260px;
    }
  }
  
  .name-wrapper {
    display: flex;
  }

  .name {
    align-self: flex-end;
    padding-bottom: .75em;

    font-family: 'Dunbar Tall';
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: $color-white;
  }

  .photo {
    width: 275px;
    height: 275px;
    margin-top: -6em;

    background-color: $color-cyan;
    border-radius: 100%;
  }

  .function {
    padding-bottom: 2em;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 28px;
  }

  .about {
    padding-top: 2em;

    .social {
      flex-wrap: wrap;
      padding-top: 2em;

      .media {
        padding-right: 3em;
        padding-top: 1em;
      }

      .link {
        margin-left: .5em;
        color: $color-orange;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .speaker-page {
    .header {
      background-image: image-url('bg-speaker-mobile@2x.png');
    }

    .photo-wrapper {
      text-align: center;
    }

    .photo {
      width: 170px;
      height: 170px;
    }

    .name {
      padding: .75em 0 0;
      color: $color-orange;
      font-size: 36px;
    }

    .function {
      text-align: center;
    }

    .about {
      .social {
        .media {
          padding-right: 2em;
        }

        .media {
          img {
            width: 30px;
          }
        }
      }
    }
  }
}