.ticket-banner {
  padding: 2em 0;

  background-color: $color-yellow;

  .watch {
    .title {
      font-size: 55px;
      display: inline-block;
      padding: .5em;

      background-color: $color-cyan;

      color: $color-white;
    }
  }

  .buy, .access {
    color: #369C75;
    padding: .6em 2.5em;
    text-align: center;
    border: 3px solid $success;
  }

  .ticket {
    
    .lot {
      color: $color-white;
      margin-bottom: .25em;
    }
  }

  .countdown {
    margin-left: auto !important;

    .square {
      width: 170px;
      height: 170px;

      position: relative;

      flex-direction: column;
      
      background-color: $color-green;
      
      color: $color-white;

      .number {
        font-family: 'Sofia Pro';
        font-weight: 500;
        font-size: 72px;
      }
      
      .title {
        padding: .5rem .5rem;
        position: absolute;
        bottom: -.75em;

        background-color: $color-orange;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ticket-banner {
    padding-bottom: 2em;
    
    .container.d-flex {
      flex-wrap: wrap-reverse;

      .ticket {
        padding-top: 3em;

        .title {
          font-size: 23px;
        }
      }

      .countdown {
        width: 100vw;
        margin: 0 auto;

        .square {
          width: 100%;
          height: 100%;
          padding: 2em 0;
  
          .number {
            font-size: 32px;
          }

          .title {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .ticket-banner {
    .container.d-flex {
      .countdown {
        .square {
          padding: 3em 0;
          
          .number {
            font-size: 45px;
          }

          .title {
            font-size: 18px;
          }
        }
      }
    }
  }
}