<div class="admin-module pb-5">
  <div class="admin-title">
    <div class="container">
      <h2>Participantes</h2>
    </div>
  </div>

  <% if notice %>
    <div class="alert alert-success">
      <div class="container">
        <%= notice %>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end %>

  <div class="container admin-content">
    <% if @users.empty? %>
      <div class="alert alert-info">
        Ainda não há participantes.
      </div>
    <% else %>
      <form action="/admin/users" class="user-search" data-remote="true">
        <input class="form-control" type="search" name="q" placeholder="Pesquise por nome, email ou e-ticket">
      </form>

      <table class="table users mt-4">
        <thead class="thead-light">
          <tr>
            <th>Termo</th>
            <th>Nome</th>
            <th>Email</th>
            <th>E-ticket</th>
            <th>Criado em</th>
          </tr>
        </thead>

        <tbody>
          <%= render @users %>
        </tbody>
      </table>

      <div class="d-flex justify-content-center pt-4">
        <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    <% end %>
  </div>
</div>