$color-orange: #F77E0B;
$color-brown: #4E2A0E;

$color-green: #41BB8D;
$color-cyan: #29DACD;
$color-yellow: #FFD337;

$color-dark-grey: #333A41;
$color-grey: #6B757E;
$color-light-grey: #F8F9FA;

$color-white: #FFF;
