@font-face {
	font-family: 'Sofia Pro';
	src: font-url('SofiaPro-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}	

@font-face {
	font-family: 'Sofia Pro';
	src: font-url('SofiaPro-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}	

@font-face {
	font-family: 'Dunbar Tall';
	src: font-url('Dunbar-Tall-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}	

@font-face {
	font-family: 'Dunbar Tall';
	src: font-url('Dunbar-Tall-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}	

@font-face {
	font-family: 'Dunbar Tall';
	src: font-url('Dunbar-Tall-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}	