<section class="about">
  <div class="container">
    <div class="title text-center">
      Voce é o tipo de pessoa que busca ter uma <strong>saúde melhor</strong>
      <div class="d-none d-md-block"></div>
      e <strong>alcançar o equilíbrio</strong>  necessário para <strong>viver plenamente</strong>?
    </div>
  </div>

  <div class="d-none d-md-block">
    <div class="container content d-flex">
      <%= image_tag 'about-1@2x.png', class: 'align-self-start' %>

      <div class="text">
      Se sim, aqui é o seu lugar. Fique por aqui, pois você irá vivenciar experiências privilegiadas, aprenderá a usar 100% sua saúde mental, física e espiritual para atingir seu bem estar com os pilares mais importantes para uma vida saudável.
      <br><br>
      E para te auxiliar nesta importante jornada, disponibilizamos informações de qualidade com os melhores da área de saúde. Nutricionistas, médicos, educadores fisícos, coaches e especialistas escolhidos a dedo com os melhores e mais importantes temas para que você trilhe seu caminho com muito sucesso.

      <div class="sub-title">
        Imagine-se em um final de semana repleto de conhecimento, falando sobre os principais pilares para uma vida em equilíbrio.
      </div>

      Imaginou? O ALIMENTE quer que você viva cada segundo dessa experiência de forma sensacional! A gente quer mudar o mundo, nutrição é ciência, consciência colaborativa, inclusão e inovação, sejam todos muito BEM-VINDOS!
      <br><br>
      Ser e tornar pessoas felizes, é nisso que o ALIMENTE acredita.
      </div>
    </div>
  </div>

  <div class="d-block d-md-none">
    <div class="container content d-flex">
      <div class="text">
        Se sim, aqui é o seu lugar. Fique por aqui, pois você irá vivenciar experiências privilegiadas, aprenderá a usar 100% sua saúde mental, física e espiritual para atingir seu bem estar com os pilares mais importantes para uma vida saudável.
        <br><br>
        E para te auxiliar nesta importante jornada, disponibilizamos informações de qualidade com os melhores da área de saúde. Nutricionistas, médicos, educadores fisícos, coaches e especialistas escolhidos a dedo com os melhores e mais importantes temas para que você trilhe seu caminho com muito sucesso.
      </div>

      <%= image_tag 'about-1@2x.png', class: 'align-self-start' %>

      <div class="text">
        <div class="sub-title">
          Imagine-se em um final de semana repleto de conhecimento, falando sobre os principais pilares para uma vida em equilíbrio.
        </div>

        Imaginou? O ALIMENTE quer que você viva cada segundo dessa experiência de forma sensacional! A gente quer mudar o mundo, nutrição é ciência, consciência colaborativa, inclusão e inovação, sejam todos muito BEM-VINDOS!
        <br><br>
        <strong>Ser e tornar pessoas felizes, é nisso que o ALIMENTE acredita.</strong> 
      </div>
    </div>
  </div>

  <div class="container">
    <div class="title text-center">
      Desenhado para proporcionar a você <strong>uma experiência única</strong>!
    </div>

    <div class="row video">
      <div class="col-md-6">
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/Df68JGe8BwI?controls=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-md-6">
        <div class="text">
          O evento ALIMENTE tem um compromisso com você: propagar ciência da melhor qualidade, com muita ética, respeito e verdade! Temos sede de ensinar os melhores conceitos e dar as melhores palestras para que sua vida mude por completo.
          <br><br>
          Nosso time de palestrantes está comprometido em trazer a melhor experiencia em suas palestras e discussões de altíssimo nível para que você obtenha uma base completa de conhecimento.
        </div>
      </div>
    </div>
  </div>
</section>