<section class="basis-plena">
  <div class="container">
    <div class="title">
      O evento ALIMENTE apresenta à vocês nossa nova parceria.
    </div>

    <div class="description">
      Pensando em trazer sempre o melhor conteúdo, todos os inscritos do evento deste ano terão acesso às aulas exclusivas da plataforma Basis Plena. Você receberá na hora da compra um e-mail com todas as informações de acesso, fiquem atentos aos e-mails (caixa de spam). A plataforma de ensino Basis Plena é um grupo de mulheres que de forma multidisciplinar quer fornecer a você uma vida plena e saudável, onde você poderá desenvolver as áreas de: nutrição, mente, físico e conhecimento para que você tenha uma vida de qualidade e que possa fazer escolhas melhores. Não importa se o caso é emagrecimento ou a sua preciosa saúde, o objetivo é te proporcionar equilíbrio de vida e cuidado pleno.
    </div>
  </div>

  <%= image_tag 'basis-plena-logo@2x.png', class: 'basis-plena' %>
</section>