<section class="location">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="days">23 E 24 DE</div>
        <div class="month">NOVEMBRO</div>

        <div class="local-and-state">
          <div class="local">Espaço de Eventos do Shopping JK Iguatemi</div>

          <div class="state">SÃO PAULO - SP</div>
        </div>
      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14625.7175500589!2d-46.689355752912846!3d-23.588928766661233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc4a3155181ce1%3A0xb018a47032a536fd!2sEspa%C3%A7o%20JK!5e0!3m2!1spt-BR!2sbr!4v1571261290632!5m2!1spt-BR!2sbr" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>