<section class="location">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="days">23 E 24 DE</div>
        <div class="month">NOVEMBRO</div>

        <div class="local-and-state">
          <div class="local">PAVILHÃO OESTE ANHEMBI</div>

          <div class="state">SÃO PAULO - SP</div>
        </div>
      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4108512.5592298973!2d-45.98690183234313!3d-22.154189720121494!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x17030eaf9f2c8b6a!2sPavilh%C3%A3o%20de%20Exposi%C3%A7%C3%B5es%20do%20Anhembi!5e0!3m2!1spt-BR!2sbr!4v1567441456499!5m2!1spt-BR!2sbr" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>