<section class="location">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="days">16 E 17 DE</div>
        <div class="month">NOVEMBRO</div>

        <div class="local-and-state">
          <div class="local">LOCAL A DEFINIR</div>

          <div class="state">SÃO PAULO - SP</div>
        </div>
      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116506.32148254389!2d-46.70170702145954!3d-23.5193205467847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2zU8OjbyBQYXVsbywgU1A!5e0!3m2!1spt-BR!2sbr!4v1553360487748" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>