<section class="location">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="days">23 E 24 DE</div>
        <div class="month">NOVEMBRO</div>

        <div class="local-and-state">
          <div class="local">Teatro D</div>

          <div class="state">SÃO PAULO - SP</div>
        </div>
      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3656.467796243668!2d-46.6769427!3d-23.5875504!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce575bc3c41c05%3A0xcd0619d8ad6e9872!2sR.%20Jo%C3%A3o%20Cachoeira%2C%20899%20-%20Itaim%20Bibi%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004535-013!5e0!3m2!1spt-BR!2sbr!4v1574290272722!5m2!1spt-BR!2sbr" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>
