<div class="parallax">
  <div class="d-none d-md-block">
    <%= image_tag 'bg-parallax@2x.png', class: 'parallax-image' %>
  </div>

  <div class="d-block d-md-none">
    <%= image_tag 'bg-parallax-mobile@2x.png', class: 'parallax-image' %>
  </div>

  <h1 class="title">PROGRAMAÇÃO</h1>
</div>

<section class="schedule">
  <div class="container">
    <div class="d-none d-md-block">
      <div class="row">
        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week">
            <h2>SÁBADO</h2>
          </div>
        </div>

        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week">
            <h2>DOMINGO</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="d-block d-md-none">
      <div class="row">
        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week saturday -active">
            <h2>SÁBADO</h2>
          </div>
        </div>

        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week sunday">
            <h2>DOMINGO</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row lectures">
      <div class="col-md-6 saturday-lectures">
        <div class="lecture">
          <div class="time">07:00 às 08:15</div>
          <div class="description">Abertura do credenciamento</div>
        </div>
        
        <div class="lecture">
          <div class="time">08:15 às 08:30</div>
          <div class="description">Cerimônia de abertura - avisos</div>
        </div>

        <div class="lecture">
          <div class="time">08:30 às 10:00</div>
          <div class="description">Palestra 1 - Internacional *</div>
        </div>

        <div class="lecture">
          <div class="time">10:00 às 10:20</div>
          <div class="description">Pausa rápida para um café</div>
        </div>

        <div class="lecture">
          <div class="time">10:20 às 11:00</div>
          <div class="description">Palestra 2 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">11:00 às 11:40</div>
          <div class="description">Palestra 3 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">11:40 às 12:20</div>
          <div class="description">Palestra 4 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">12:20 às 13:50</div>
          <div class="description">Intervalo para almoço</div>
        </div>

        <div class="lecture">
          <div class="time">13:50 às 14:30</div>
          <div class="description">Palestra 5 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">14:30 às 16:00</div>
          <div class="description">Palestra 6 - Nacional *</div>
        </div>

        <div class="lecture">
          <div class="time">16:00 às 16:20</div>
          <div class="description">Pausa rápida para um café</div>
        </div>

        <div class="lecture">
          <div class="time">16:20 às 17:00</div>
          <div class="description">Palestra 7 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">17:00 às 18:30</div>
          <div class="description">Palestra 8 - Nacional *</div>
        </div>

        <div class="lecture">
          <div class="time">18:30 às 19:00</div>
          <div class="description">Painel de perguntas e respostas</div>
        </div>

        <div class="lecture">
          <div class="time">19:00</div>
          <div class="description">Encerramento e avisos</div>
        </div>
      </div>

      <div class="col-md-6 sunday-lectures d-none d-md-block">
        <div class="lecture">
          <div class="time">08:00 às 08:10</div>
          <div class="description">Abertura - avisos</div>
        </div>
        
        <div class="lecture">
          <div class="time">08:10 às 09:40</div>
          <div class="description">Palestra 9 - Internacional *</div>
        </div>

        <div class="lecture">
          <div class="time">09:40 às 10:20</div>
          <div class="description">Palestra 10 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">10:20 às 10:40</div>
          <div class="description">Pausa rápida para um café</div>
        </div>

        <div class="lecture">
          <div class="time">10:40 às 11:20</div>
          <div class="description">Palestra 11 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">11:20 às 12:00</div>
          <div class="description">Palestra 12 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">12:00 às 13:30</div>
          <div class="description">Intervalo para almoço</div>
        </div>

        <div class="lecture">
          <div class="time">13:30 às 14:10</div>
          <div class="description">Palestra 13 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">14:10 às 15:40</div>
          <div class="description">Palestra 14 - Internacional *</div>
        </div>

        <div class="lecture">
          <div class="time">15:40 às 16:20</div>
          <div class="description">Palestra 15 - Nacional</div>
        </div>

        <div class="lecture">
          <div class="time">16:20 às 16:40</div>
          <div class="description">Pausa rápida para um café</div>
        </div>

        <div class="lecture">
          <div class="time">16:40 às 18:10</div>
          <div class="description">Palestra 16 - Nacional *</div>
        </div>

        <div class="lecture">
          <div class="time">18:10 às 18:40</div>
          <div class="description">Painel de perguntas e respostas</div>
        </div>

        <div class="lecture">
          <div class="time">18:40</div>
          <div class="description">Encerramento e avisos</div>
        </div>
      </div>
    </div>

    <p class="text-muted mt-5">* Palestras de 1:30h.</p>
    <p class="text-muted mt-2">Pode haver alterações no cronograma.</p>
  </div>
</section>