<div class="parallax">
  <div class="d-none d-md-block">
    <%= image_tag 'bg-parallax@2x.png', class: 'parallax-image' %>
  </div>

  <div class="d-block d-md-none">
    <%= image_tag 'bg-parallax-mobile@2x.png', class: 'parallax-image' %>
  </div>

  <h1 class="title">PROGRAMAÇÃO</h1>
</div>

<section class="schedule">
  <div class="container">
    <div class="d-none d-md-block">
      <div class="row">
        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week">
            <h2>SÁBADO</h2>
          </div>
        </div>

        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week">
            <h2>DOMINGO</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="d-block d-md-none">
      <div class="row">
        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week saturday -active">
            <h2>SÁBADO</h2>
          </div>
        </div>

        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week sunday">
            <h2>DOMINGO</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row lectures">
      <div class="col-md-6 saturday-lectures">
        <div class="lecture">
          <div class="time">07:00 às 08:00</div>
          <div class="description">Abertura do credenciamento</div>
        </div>
        
        <div class="lecture">
          <div class="time">08:00 às 08:10</div>
          <div class="description">Cerimônia de abertura - avisos</div>
        </div>

        <div class="lecture">
          <div class="time">08:10 às 09:40</div>
          <div class="description">Luis Villaseñor - "A dieta cetogênica: como fazê-la corretamente para uma recomposição corporal ideal"* **</div>
        </div>

        <div class="lecture">
          <div class="time">09:40 às 10:00</div>
          <div class="description">Pausa rápida para um café</div>
        </div>

        <div class="lecture">
          <div class="time">10:00 às 10:40</div>
          <div class="description">José Neto - "Proteínas e saúde renal: uma análise baseada em evidências"</div>
        </div>

        <div class="lecture">
          <div class="time">10:40 às 11:20</div>
          <div class="description">Rafa Lund - "Jejum e treinamento: na prática a teoria é outra"</div>
        </div>

        <div class="lecture">
          <div class="time">11:20 - 12:00</div>
          <div class="description">Djulye Marquato - "Um estilo de vida saudável, começa com o que você come"</div>
        </div>

        <div class="lecture">
          <div class="time">12:00 - 13:30</div>
          <div class="description">Intervalo para almoço</div>
        </div>

        <div class="lecture">
          <div class="time">13:40 - 14:20</div>
          <div class="description">Ana Martha - "Vocé é aquilo que come? O papel do trato digestivo para uma vida saudável"</div>
        </div>

        <div class="lecture">
          <div class="time">14:20 - 15:20</div>
          <div class="description">Anna Flávia - "Produção animal e meio ambiente: mitos, entraves e papel do consumidor"*</div>
        </div>

        <div class="lecture">
          <div class="time">15:20 - 15:40</div>
          <div class="description">Pausa rápida para um café</div>
        </div>

        <div class="lecture">
          <div class="time">15:40 - 17:10</div>
          <div class="description">Victor Sorrentino - "As evidências da relação entre metabolismo e transtornos mentais mais comuns"*</div>
        </div>

        <div class="lecture">
          <div class="time">17:10 - 17:30</div>
          <div class="description">Para rápida para um café</div>
        </div>

        <div class="lecture">
          <div class="time">17:30 às 19:00</div>
          <div class="description">Guilherme Takassi - "Meditação, a ciência por trás da espiritualidade"*</div>
        </div>

        <div class="lecture">
          <div class="time">19:00 às 19:30</div>
          <div class="description">Painel rápido com convidados</div>
        </div>

        <div class="lecture">
          <div class="time">19:30</div>
          <div class="description">Encerramento e avisos</div>
        </div>
      </div>

      <div class="col-md-6 sunday-lectures d-none d-md-block">
        <div class="lecture">
          <div class="time">07:30 às 08:00</div>
          <div class="description">Conferência de credenciais</div>
        </div>

        <div class="lecture">
          <div class="time">08:00 às 08:10</div>
          <div class="description">Abertura - avisos</div>
        </div>
        
        <div class="lecture">
          <div class="time">08:10 às 09:40</div>
          <div class="description">Amy Berger - "Terapias cetogênicas para distúrbios neurológicos e neurodegenerativos"* **</div>
        </div>

        <div class="lecture">
          <div class="time">09:40 às 10:20</div>
          <div class="description">Janaína Koenen - "Diabetes tipo 2 é reversível com dieta"</div>
        </div>

        <div class="lecture">
          <div class="time">10:20 às 10:40</div>
          <div class="description">Pausa rápida para um café</div>
        </div>

        <div class="lecture">
          <div class="time">10:40 às 11:20</div>
          <div class="description">Renata Calixto - "Tudo o que você precisa saber sobre glúten: afecções músculo-esqueléticas na sensibilidade ao glúten e doença celíaca"</div>
        </div>

        <div class="lecture">
          <div class="time">11:20 às 12:00</div>
          <div class="description">Letícia Vasconcelos - "Dor crônica: conceito, implicações, impacto na qualidade de vida e como o exercício físico pode auxiliar"</div>
        </div>

        <div class="lecture">
          <div class="time">12:00 às 13:30</div>
          <div class="description">Intervalo para almoço</div>
        </div>

        <div class="lecture">
          <div class="time">13:30 às 14:10</div>
          <div class="description">Patrícia Tassinari - "Ajustando seu painel de controle: como determinar dominância, controle e ter planejamento no seu processo de emagrecimento"</div>
        </div>

        <div class="lecture">
          <div class="time">14:10 às 15:00</div>
          <div class="description">Alexandre Feldman - "Enxaqueca: uma abordagem pelo estilo de vida"</div>
        </div>

        <div class="lecture">
          <div class="time">15:00 às 16:30</div>
          <div class="description">Eric Westman - "A ciência e a prática de dietas lowcarb e cetogênica"* **</div>
        </div>

        <div class="lecture">
          <div class="time">16:30 às 16:50</div>
          <div class="description">Pausa rápida para um café</div>
        </div>

        <div class="lecture">
          <div class="time">16:50 às 17:30</div>
          <div class="description">Erik Neves - "Óleos vegetais: a raiz de todos os males?"</div>
        </div>

        <div class="lecture">
          <div class="time">17:30 às 19:00</div>
          <div class="description">Ítalo Marsili *</div>
        </div>

        <div class="lecture">
          <div class="time">19:00 às 19:30</div>
          <div class="description">Painel com convidados</div>
        </div>

        <div class="lecture">
          <div class="time">19:30</div>
          <div class="description">Encerramento e avisos</div>
        </div>
      </div>
    </div>

    <p class="text-muted mt-5">* Palestras de 1:00h e 1:30h.</p>
    <p class="text-muted mt-2">** Palestras internacionais com tradução simultânea.</p>
    <p class="text-muted mt-2">Pode haver alterações no cronograma.</p>
  </div>
</section>