<div class="parallax">
  <div class="d-none d-md-block">
    <%= image_tag 'bg-parallax@2x.png', class: 'parallax-image' %>
  </div>

  <div class="d-block d-md-none">
    <%= image_tag 'bg-parallax-mobile@2x.png', class: 'parallax-image' %>
  </div>

  <h1 class="title">PROGRAMAÇÃO</h1>
</div>

<section class="schedule">
  <div class="container">
    <div class="d-none d-md-block">
      <div class="row">
        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week">
            <h2>SÁBADO</h2>
          </div>
        </div>

        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week">
            <h2>DOMINGO</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="d-block d-md-none">
      <div class="row">
        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week saturday -active">
            <h2>SÁBADO</h2>
          </div>
        </div>

        <div class="col-md-6 col-6 col-sm-6">
          <div class="day-of-week sunday">
            <h2>DOMINGO</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row lectures">
      <div class="col-md-6 saturday-lectures">
        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Sábado Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>
        
        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>

        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>

        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>

        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>

        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>
      </div>

      <div class="col-md-6 sunday-lectures d-none d-md-block">
        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Domingo Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>
        
        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>

        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>

        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>

        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>

        <div class="lecture">
          <div class="time">08:20 às 08:40</div>
          <div class="description">Abertura e Apresentação Oficial do Projeto ALIMENTE</div>
        </div>
      </div>
    </div>
  </div>
</section>