<section class="tickets">
  <div class="d-none d-md-block">
    <%= image_tag 'bg-ticket-top@2x.png', class: 'bg-ticket-top' %>
    <%= image_tag 'bg-ticket-bottom@2x.png', class: 'bg-ticket-bottom' %>
  </div>

  <div class="d-flex justify-content-center">
    <div class="title-wrapper d-flex flex-column">
      <h1 class="title mr-auto">INGRESSOS</h1>
      <div class="lot ml-auto">PRÉ-VENDA DISPONÍVEL</div>
    </div>
  </div>

  <div class="container">
    <div class="promotional-banner">
      <div class="d-flex">
        <div class="tickets-info">
          <div class="title">PRÉ-VENDA</div>

          <div class="tickets">
            <div class="ticket">
              <div class="price">R$ 510,00</div>

              <div class="ticket-type">GOLD 2</div>
            </div>

            <div class="ticket">
              <div class="price">R$ 400,00</div>

              <div class="ticket-type">ESTUDANTE/IDOSO</div>
            </div>
          </div>

          <div class="benefits">
            Welcome Kit (sacola, caderno e caneta) e curso online exclusivo Basis Plena e descontos em todos os *cursos da plataforma Basis Plena (* exceto maratonas).
          </div>
        </div>

        <div class="timer-wrapper ml-auto">
          <div class="title">TERMINA EM</div>

          <div class="timer">
            <span class="hours">23</span>:<span class="minutes">49</span>:<span class="seconds">12</span>
          </div>
        </div>
      </div>

      <div class="disclaimer">
        <a href="#" class="btn btn-warning">GARANTA JÁ O SEU INGRESSO</a>
        <br><br>

        <strong>Atenção:</strong> os ingressos de pré-venda não são reembolsáveis, apenas passíveis de transferência de titularidade.
        <br>
        Confira as condições de reembolso e transferências <a href="#">clicando aqui.</a>        
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="ticket-type">
          <div class="title">GOLD</div>

          <div class="sub-title">GOLD 2</div>

          <div class="ticket">
            <div class="lot-type">1º LOTE</div>
            <div class="price">R$ 650,00</div>
            <a href="#" class="button btn btn-warning">COMPRE AGORA</a>
          </div>

          <div class="ticket">
            <div class="lot-type">2º LOTE</div>
            <div class="price">R$ 780,00</div>
            <a href="#" class="button btn btn-warning">COMPRE AGORA</a>
          </div>

          <div class="benefits">
            Welcome Kit (sacola, caderno e caneta), curso online exclusivo Basis Plena e descontos em todos os *cursos da plataforma Basis Plena e brindes especiais.  (* exceto maratonas)
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="ticket-type">
          <div class="title">VIP</div>

          <div class="sub-title">VIP 1</div>

          <div class="ticket">
            <div class="lot-type">1º LOTE</div>
            <div class="price">R$ 900,00</div>
            <a href="#" class="button btn btn-warning">COMPRE AGORA</a>
          </div>

          <div class="ticket">
            <div class="lot-type">2º LOTE</div>
            <div class="price">R$ 1.100,00</div>
            <a href="#" class="button btn btn-warning">COMPRE AGORA</a>
          </div>

          <div class="sub-title">VIP 2 + JANTAR PRÉ-EVENTO</div>

          <div class="ticket">
            <div class="lot-type">1º LOTE</div>
            <div class="price">R$ 1.400,00</div>
            <a href="#" class="button btn btn-warning">COMPRE AGORA</a>
          </div>

          <div class="ticket">
            <div class="lot-type">2º LOTE</div>
            <div class="price">R$ 1.600,00</div>
            <a href="#" class="button btn btn-warning">COMPRE AGORA</a>
          </div>

          <div class="benefits">
            Welcome Kit (sacola, caderno e caneta), curso online exclusivo Basis Plena e descontos em todos os *cursos da plataforma Basis Plena, brindes especiais, livro “Gordura sem medo”, assentos exclusivos e espaço vip facilities. (* exceto maratonas)
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="ticket-type">
          <div class="title -adjust">ESTUDANTE/IDOSO</div>

          <div class="ticket">
            <div class="lot-type">GOLD 2</div>
            <div class="price">R$ 500,00</div>
            <a href="#" class="button btn btn-warning">COMPRE AGORA</a>
          </div>

          <div class="ticket">
            <div class="lot-type">VIP 1</div>
            <div class="price">R$ 780,00</div>
            <a href="#" class="button btn btn-warning">COMPRE AGORA</a>
          </div>

          <div class="benefits">
            Regras:<br>
            - Obrigatório apresentação de carteirinha no credenciamento.<br>
            - Obrigatório informar nos dados da compra o número de carteirinha.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>