<section class="why">
  <div class="container">
    <div class="title">
      POR QUE O ALIMENTE<br>É PARA VOCÊ?
    </div>

    <div class="text">
      Fazer amizades, compartilhar experiências, falar sobre negócios… Tudo isso e muito mais para facilitar sua jornada na busca pela meta desejada. Energia, pessoas positivas, todos vibrando pela mesma intenção: obter e proporcionar VIDA de forma plena!

      <br><br>

      Profissionais, professores, estudantes da saúde, entusiastas e empreendedores do ramo,
      <%= link_to 'GARANTA JÁ O SEU INGRESSO', '', class: 'btn btn-danger' %>
    </div>
  </div>

  <div class="d-block d-md-none">
    <%= image_tag 'bg-bottom-why.svg' %>
  </div>
</section>