<section class="why">
  <div class="container">
    <div class="title">
      O ALIMENTE FOI<br>FEITO PARA VOCÊ!
    </div>

    <div class="text">
      Fazer amizades, compartilhar experiências, falar sobre negócios… Tudo isso e muito mais para facilitar sua jornada na busca pela meta desejada. Energia, pessoas positivas, todos vibrando pela mesma intenção: obter e proporcionar VIDA de forma plena!

      <br><br>

      Profissionais, professores, estudantes da saúde, entusiastas e empreendedores do ramo.
      
      <div class="link">
        <%= link_to 'GARANTA JÁ O SEU INGRESSO', 'https://www.sympla.com.br/evento-alimente-2019__322894', target: '_blank', class: 'btn btn-lg btn-warning' %>
      </div>
    </div>
  </div>

  <div class="d-block d-md-none">
    <%= image_tag 'bg-bottom-why.svg', class: 'bg-bottom' %>
  </div>
</section>