<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="title">O EVENTO</div>

        <ul class="list">
          <li class="list-item"><a href="/">Edição 2019</a></li>
          <li class="list-item d-none"><a href="#">Edições anteriores</a></li>
          <li class="list-item"><a href="/perguntas-frequentes">Perguntas frequentes</a></li>
          <li class="list-item"><a href="/politica-de-reembolso">Reembolsos e transferências</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <div class="title">O PROJETO ALIMENTE</div>

        <ul class="list">
          <li class="list-item"><a href="/sobre-o-projeto">Sobre o projeto</a></li>
          <li class="list-item"><a href="/sobre-o-projeto#trabalhe-conosco">Trabalhe conosco</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <div class="title">PAGAMENTO</div>

        <%= image_tag 'formas-de-pagamento@2x.png', class: 'payment-methods' %>

        <div class="title pt-4 pb-2">MÍDIAS SOCIAIS</div>

        <a href="http://instagram.com/eventoalimente" target="_blank" class="social"><%= fa_icon 'instagram' %></a>
        <span>&nbsp;</span>
        <a href="http://facebook.com/eventoalimente" target="_blank" class="social"><%= fa_icon 'facebook' %></a>
      </div>
    </div>
  </div>
</footer>