<nav class="navbar app-navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= image_tag 'alimente-logo@2x.png' %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#">O PROJETO</a>
        <a class="nav-item nav-link" href="#">PALESTRANTES</a>
        <a class="nav-item nav-link" href="#">PROGRAMAÇÃO</a>
        <a class="nav-item nav-link" href="#">FAQ</a>
        <a class="nav-item nav-link d-none" href="#">BASIS PLENA</a>
      </div>

      <%= link_to 'COMPRE JÁ', "", class: 'btn btn-warning' %>
    </div>
  </div>
</nav>