<nav class="navbar <%= 'app-navbar' if action_name == 'home' or controller_path == 'users/sessions' or controller_path == 'basis_plena/videos' %> <%= 'project-navbar' if action_name == 'about' or action_name == 'faq' or controller_name == 'speakers' %> navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag 'alimente-logo@2x.png' %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/sobre-o-projeto">O PROJETO</a>
        <a class="nav-item nav-link" href="/#palestrantes">PALESTRANTES</a>
        <a class="nav-item nav-link d-none" href="#">PROGRAMAÇÃO</a>
        <a class="nav-item nav-link" href="/perguntas-frequentes">FAQ</a>
        <a class="nav-item nav-link" href="/users/sign_in">BASIS PLENA</a>
      </div>

      <%= link_to 'COMPRE JÁ', "https://www.sympla.com.br/evento-alimente-2019__322894", target: '_blank', class: 'btn btn-warning' %>
    </div>
  </div>
</nav>