<div class="ticket-banner">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="watch">
      <a href="https://www.sympla.com.br/evento-alimente-2019__322894" target="_blank">
        <h1 class="title m-0">ASSISTA ONLINE</h1>
      </a>
    </div>

    <div class="buy">
      <h4 class="title">JÁ DISPONÍVEL</h4>

      <a href="https://www.sympla.com.br/evento-alimente-2019__322894" class="btn btn-success btn-lg mt-3" target="_blank">COMPRAR AGORA</a>
    </div>

    <div class="access">
      <h4 class="title">FOI AO EVENTO?</h4>

      <%= link_to 'ACESSE AGORA', '', class: 'btn btn-lg mt-3 btn-outline-success' %>
    </div>
  </div>
</div>
