<div class="ticket-banner">
  <div class="container d-flex">
    <div class="ticket">
      <h3 class="title m-0">ADQUIRA SEU INGRESSO</h3>

      <h4 class="lot mt-4">PRÉ-VENDA EM BREVE</h4>
      <h4 class="lot mt-4 d-none">PRÉ-VENDA DISPONÍVEL</h4>

      <a href="#" class="btn btn-success disabled mt-2">COMPRAR AGORA</a>
    </div>

    <div class="countdown ml-auto d-flex">
      <div class="square d-flex justify-content-center align-items-center days">
        <span class="number"></span>
        <h5 class="title m-0">DIAS</h5>
      </div>
      
      <div class="square d-flex justify-content-center align-items-center hours mx-3">
        <span class="number"></span>
        <h5 class="title m-0">HORAS</h5>
      </div>
      
      <div class="square d-flex justify-content-center align-items-center minutes">
        <span class="number"></span>
        <h5 class="title m-0">MINUTOS</h5>
      </div>
    </div>
  </div>
</div>